
h1{
    color: #1d3557;
}

ul{
    list-style-type: none;
    background-color: #457b9d;
    overflow: hidden; /*se separa*/
    margin: 0;
    padding: 0;
}
li{
float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px; /*separacion*/
    text-decoration: none; /*quitar subrayado*/
}
li a:hover{
    background-color: #1d3557;
}